################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VGER_WAPI/obj/VGER_WAPI.csproj.nuget.g.props
/VGER_WAPI/obj/Debug
/VGER_WAPI/obj/Release
/VGER_WAPI/bin/Release
/VGER_WAPI/bin/Debug
/VGER_WAPI_CLASSES/bin/Release
/VGER_WAPI_CLASSES/bin/Debug
/VGER_WAPI_CLASSES/obj/VGER_WAPI_CLASSES.csproj.nuget.g.props
/VGER_WAPI_CLASSES/obj/Debug
/VGER_WAPI_CLASSES/obj/Release
/VGER_WAPI/obj
/VGER_WAPI_CLASSES/obj
/VGER_WAPI/VGER_WAPI.csproj.user
/VGER_WAPI/bin
/VGER_WAPI_CLASSES/VGER_WAPI_CLASSES.csproj.user
/VGER_WAPI_CLASSES/bin
/VGER_WAPI_CLASSES/VGER_WAPI_CLASSES.csproj.user
/VGER_WAPI/VGER_WAPI.csproj.user
/VGER_DISTRIBUTION/bin
/VGER_DISTRIBUTION/obj
/VGER_DISTRIBUTION/bin
/VGER_DISTRIBUTION/obj
/VGER_DISTRIBUTION/bin
/VGER_DISTRIBUTION/obj
/VGER_Communicator/bin
/VGER_Communicator/obj
/VGER_DISTRIBUTION/VGER_DISTRIBUTION.csproj.user
/.vs
/VGER_WAPI/obj
/VGER_DISTRIBUTION/DLL/VGER_WAPI_CLASSES.dll
/VGER_WAPI/DLL/VGER_WAPI_CLASSES.dll
/VGER_WAPI/ErrorLog
/Communicator/obj/Release/netcoreapp2.0/Communicator.csprojAssemblyReference.cache
/Communicator/obj/Debug/netcoreapp2.0/Communicator.csprojAssemblyReference.cache
