<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta charset="utf-8" />
    <link href="{{URLinitial}}/resources/css/style_report.css" rel="stylesheet" type="text/css">
    <link href="{{URLinitial}}/resources/css/proposal_report.css" rel="stylesheet" type="text/css" />     
    <title>VOUCHER</title> 
</head>
<body>
    <table width="950" border="0" align="center" cellpadding="0" cellspacing="0" class="tbl-center header-section" id="FakeHeaders" style="padding-top:10px;">
        <tr>
            <td width="100" align="left">
                <img src="{{URLinitial}}/resources/images/proposal-report/inner-cnk-logo-new.png" alt="Logo" width="122" height="78" style="margin-top:-26px;">
            </td>
            <td width="350" valign="top">
                <table>
                    <tr>
                        <td>{{SYS_COMPANY_NAME}}</td>
                    </tr>
                    <tr>
                        <td>{{SYS_COMPANY_ADDR1}}</td>
                    </tr>
                    <tr>
                        <td>{{SYS_COMPANY_ADDR2}}</td>
                    </tr>
                    <tr>
                        <td>{{SYS_COMPANY_CITY}}</td>
                    </tr>
                    <tr>
                        <td>{{SYS_COMPANY_COUNTRY}}</td>
                    </tr>
                    <tr>
                        <td>{{SYS_COMPANY_POSTALCODE}}</td>
                    </tr>
                </table>
            </td>
            <td width="350" valign="top">
                <table>
                    <tr>
                        <td><b>Reference: </b></td>
                        <td>{{BOOKING_REF_NO}}</td>
                    </tr>
                    <tr>
                        <td><b>Contact: </b></td>
                        <td>{{FileHandler_CONTACT_NAME}}</td>
                    </tr>
                    <tr>
                        <td><b>Tel: </b></td>
                        <td>{{FileHandler_CONTACT_TEL_No}}</td>
                    </tr>
                    <tr>
                        <td><b>Email: </b></td>
                        <td>{{FileHandler_CONTACT_EMAIL}}</td>
                    </tr>
                    <tr>
                        <td><b>Date: </b></td>
                        <td>{{FileHandler_DATE}}</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="left" valign="top" style="background-color:#d4d4d4; height:1px"></td>
        </tr>
    </table>
    <br /> 
</body>
</html>
